.screen10{background:$CorAzulClaro;
                    .top{padding-top:40px;
                        .container{
                            .row{
                                .col{color:$CorAzulEscuro;
                                    i{color:$CorRoxo;margin-top:10px;}
                                    h5{text-align:center;}
                                } 
                            }
                        }
                    }
                    .container-fluid{background:$CorAzulEscuro;color:$CorBranco;
                        .row{
                            .col{
                                .nivelk{font-family:'Reebok1';font-size:20px;padding-top:5px;padding-bottom:10px;
                                    img{float:left;}
                                    .nivelk{width:100px;margin-top:60px;float:left;color:$CorAzulClaro;}
                                }
                                .col-3{color:$CorCinza;padding-top:60px;
                                    a{margin-left:5px;margin-right:5px;cursor:pointer;color:$CorCinza;}
                                    a:hover{color:$CorAzulClaro;}
                                }
                                .col-5{
                                    label{margin-top:10px;color:$CorAmarelo;}
                                    button{color:$CorAmarelo;border-color:$CorAmarelo;margin-top:8px;}
                                    button:hover{background:$CorAmarelo;color:$CorAzulEscuro;}
                                }
                                ul{list-style-type:none;
                                    li{color:$CorAzulClaro2;cursor:pointer;}
                                    li:hover{color:$CorAzulClaro;}
                                    li:nth-child(1){color:$CorCinza;font-weight:bold;cursor:context-menu;}
                                }
                            }
                            .icones{color:$CORCINZA;}
                            .copy{border-top:solid 1px $CORCINZA;color:$CorCinza;font-size:15px;}
                        }
                    }
                }//--screen4
//MEDIA BREAKPOINT GRID
    $xs: 0;
    $sm: 575px;
    $md: 767px;
    $lg: 991px;
    $xl: 1199px;
    @media(min-width: $xs) and (max-width: $lg){
        html{font-family:arial;}
            body{background:$CORCINZA;}
                .main{
                    .screen4{
                        .top{}
                        .container-fluid{
                            .row{
                                .col{
                                    .nivelk{padding-top:1px;padding-bottom:5px;
                                    img{display:none;}
                                    .nivelk{display:none;}
                                    }
                                    .col-3{padding-top:auto;
                                        a{margin-left:auto;margin-right:auto;}
                                    }
                                    .col-5{display:none;}
                                }
                            }
                        }
                    }//--screen4
                }//--main                
    }//--@media 