
# BEGIN WordPress
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /nivelk/
    #RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule . /nivelk/index.php [L]
    
    RewriteRule ^nivelk/?$/index.php [NC,L]
    RewriteRule ^agencia-nivelk/?$/agencia.php [NC,L]
</IfModule>

# END WordPress