// VARIAVEIS 
    @import "../helpers/variables";
//MIXIN
    @import "../helpers/mixin";
//COMPONENTES
    @import "../componentes/font/font.css";
//RESET
    *{margin:0px;padding:0px;}
    html{font-family:arial;
        .btn:focus{outline:0;box-shadow:none;}
    }
    body{background:$CORCINZA; overflow-x:hidden;}
        
    .main{width:100%;
        .Screen{padding-top:40.5px;width:100%;}
        .screen1{
            .container-fluid{background:$CorLaraja;
                .row{
                    .col{color:$CorCinza;text-align:center;
                        h1{margin-top:70px;margin-bottom:20px;}
                        p{margin-bottom:40px;font-size:25px;}
                    }
                    .col-6{
                        button{margin-bottom:25px;color:$CorCinza;border:solid 2px $CorCinza;font-weight:bold;}
                        button:hover{border-color:$CorLarajaEscuro;background:$CorLarajaEscuro;}
                    }
                }
            }
            .container{
                .row{
                    .col{margin-top:50px;
                        h2{text-align:center;color:$CorAzulEscuro;margin-bottom:30px;}
                        .active{border-color:$CorRoxo;background:$CorRoxo;color:$CorCinza;}
                        a{border-color:$CorAzulEscuro;color:$CorAzulEscuro;font-weight:bold;}
                        a:hover{border-color:$CorRoxo;background:$CorRoxo;color:$CorCinza;}
                    }
                }
            }
        }//--screen1
        .screen2{background:$CorBranco;
            .container{}
        }//--screen2
        .screen3{background:$CORCINZA;
            .container{
                .row{
                    .col{
                        h1{text-align:center;margin-top:50px;margin-bottom:50px;color:$CorAzulEscuro;}
                    }
                    .col-6{
                        input[type="submit"]{border-color:$CorAzulEscuro;color:$CorAzulEscuro;font-weight:bold;}
                        input[type="submit"]:hover{border-color:$CorRoxo;background:$CorRoxo;color:$CorCinza;}
                    }
                }
            }
        }//--screen3
        @import "../layout/footer";//--screen10
        
    }//--main

//HEADER
   @import "../layout/header";
//MEDIA BREAKPOINT GRID
    $xs: 0;
    $sm: 575px;
    $md: 767px;
    $lg: 991px;
    $xl: 1199px;
    @media(min-width: $xs) and (max-width: $lg){
        html{font-family:arial;}
            body{background:$CORCINZA;}
                .main{
                    .screen1{
                        .container-fluid{
                            .row{
                                .col{
                                    h1{margin-top:20px;margin-bottom:20px;font-size:30px;}
                                    p{margin-bottom:15px;font-size:15px;}
                                }
                                .col-6{
                                    button{display:none;}
                                }
                            }
                        }
                    }//--screen1
                    .screen2{}//--screen2
                }//--main                
    }//--@media 
