@import "../../../sass/helpers/variables";

header{position:fixed;height:45px;background:$CorAzulClaro3;width:100%;color:$CorBranco;top:0px;
    .container-fluid{padding-bottom:0px;
        .row{
            .col-3{background:$CorAzulClaro4;text-align:center;padding-top:10px;}
            .col-5{
                i{margin-top:8px;}
            }
            .col-4{}
        }
    }        
}
        //_______________________________________________________________________________________________________
        .container-fluid{
            .row{
                .col-3{
                    .row{
                        .menu{border:solid 1px $CorCinza;background:$CorCinzaClaro;padding-left:0px;padding-right:0px;margin-top:47px;
                            .col-3{border:none;}
                            .col-9{
                                input[type="text"]{margin-bottom:5px;border-right:none;border-radius:0px;}
                            }
                            .col{
                                .btn-outline-secondary{border-left:none;border-right:none;border-bottom:none;margin-bottom:0px;margin-top:0px;border-radius:0px;color:$CorPreto;}
                                .right{float:right;}
                            }
                        }
                    }
                }
                //____________________________________________________________________________________
                .col-9{text-align:center;padding-top:20px;
                    .btn-outline-primary{margin-top:8px;color:$CorAzulEscuro;}
                    fieldset{border:solid 1px $CORCINZA;padding:10px;margin:10px;}
                    .head{display:none;}
                }
            }//_____________________________________row______________________________________________
        }//____________________________________container_fluid_____________________________________________________