// VARIAVEIS 
    @import "../helpers/variables";
//MIXIN
    @import "../helpers/mixin";
//COMPONENTES
    @import "../componentes/font/font.css";
//RESET
    *{margin:0px;padding:0px;}
    html{font-family:arial;
        input:focus{outline:none !important;}
    }
    body{background:$CORCINZA; overflow-x:hidden;}
        
    .main{width:100%;
        .Screen{padding-top:40.5px;width:100%;}
        .screen1{
            .container-fluid{background:$CorCinzaEscuro;
                .row{
                    .col{color:$CorCinza;text-align:center;
                        h1{margin-top:70px;margin-bottom:70px;}
                    }
                }
            }
            .container{
                .row{
                    .col{margin-top:10px;
                        h3{text-align:center;}
                    }
                    .col-8{margin-top:20px;}
                    .col-4{margin-top:20px;}
                }
            }
        }//--screen1
        .screen2{background:$CORCINZA;
            .container{
                .col-7{
                    .btn-outline-primary{color:$CorPreto;border-color:$CorPreto;}
                    .btn-outline-primary:hover{color:$CorCinza;background:$CorCinzaEscuro;}
                }
                .col-5{padding-left:50px;padding-top:70px;}
            }
        }//--screen2
        @import "../layout/footer";//--screen4
        
    }//--main

//HEADER
    @import "../layout/header";
//MEDIA BREAKPOINT GRID
    $xs: 0;
    $sm: 575px;
    $md: 767px;
    $lg: 991px;
    $xl: 1199px;
    @media(min-width: $xs) and (max-width: $lg){
        html{font-family:arial;}
            body{background:$CORCINZA;}
                .main{
                    .screen1{ }//--screen1
                    .screen2{}//--screen2
                }//--main                
    }//--@media 
