// VARIAVEIS 
    @import "../helpers/variables";
//MIXIN
    @import "../helpers/mixin";
//COMPONENTES
    @import "../componentes/font/font.css";
//RESET
    *{margin:0px;padding:0px;}
    html{font-family:arial;
        input:focus{outline:none !important;}
    }
    body{background:$CORCINZA; overflow-x:hidden;}

            .main{width:100%;
                .Screen{padding-top:50px;width:100%;}
                .screen1{
                    .container{
                        .row{
                            .col{text-align:center;color:$CorPreto;
                                h1{font-weight:bold;font-size:60px;}
                                h3{margin-top:15px;}
                            }
                            .col:nth-child(1){padding-top:20px;padding-bottom:20px;}
                        }
                    }
                }//--screen1
                .screen2{background:$CorRosa;color:$CorBranco;
                    .container{
                        .row{
                            .col{
                                .row{text-align:center;
                                    .col{
                                        .tituloIcone{text-align:center;width:90px;height:137px;margin-top:5px;margin-bottom:5px;margin-left:5px;margin-right:5px;float:left;
                                            .circulo{width:90px;height:90px;border:solid 3px $CorBranco;border-radius:100%;padding-top:20px;}
                                        }
                                    }
                                }
                                .btn-outline-primary{color:$CorBranco;border:solid 2px $CorBranco;}
                                .btn-outline-primary:hover{background:$CorBranco;color:$CorRosa;}
                            }
                        }
                    }
                }//--screen2
                .screen3{
                    .container{color:$CorAzulEscuro;
                        .row{
                            .col{
                                .btn-outline-primary{color:$CorAzulEscuro;border:solid 2px $CorAzulEscuro;}
                                .btn-outline-primary:hover{background:$CorAzulEscuro;color:$CorCinza;}
                                i{margin-left:5px;margin-right:5px;}
                                polygon{stroke:$CorAzulEscuro;stroke-miterlimit:10;fill:none;}
                                text{font-size:30px;fill:$CorAzulEscuro;}
                            }
                        }
                    }
                }//--screen3
                
                @import "../layout/footer"; //--screen4
            }//--main
//HEADER
    @import "../layout/header";
//MEDIA BREAKPOINT GRID
    $xs: 0;
    $sm: 575px;
    $md: 767px;
    $lg: 991px;
    $xl: 1199px;
    @media(min-width: $xs) and (max-width: $lg){
        html{font-family:arial;}
            body{background:$CORCINZA;}
                .main{
                    .screen1{
                        .container{margin-top:40px;
                            .row{
                                .col{
                                    h1{font-size:30px;}
                                }
                                .col:nth-child(1){padding-top:0px;padding-bottom:0px;}
                            }
                        }
                    }//--screen1
                    .screen2{
                        .container{
                            .row{
                                .col{
                                    .row{
                                        .col{
                                            .tituloIcone{height:70px;margin-bottom:auto;margin-left:1.5px;margin-right:1.5px;float:left;font-size:10px;
                                                .circulo{height:auto;width:auto;border:none;border-radius:auto;padding-top:0px;}
                                            }
                                        }
                                    }
                                    .btnServicos{margin-bottom:10px;}
                                }
                            }
                        }
                    }//--screen2
                    .screen4{
                        .top{}
                        .container-fluid{
                            .row{
                                .col{
                                    .nivelk{padding-top:1px;padding-bottom:5px;
                                        img{display:none;}
                                        .nivelk{display:none;}
                                    }
                                    .col-3{padding-top:auto;
                                        a{margin-left:auto;margin-right:auto;}
                                    }
                                    .col-5{display:none;}
                                }
                            }
                        }
                    }//--screen4
                    
                }//--main                
    }//--@media 
