//MIXIN
@mixin button{border:none;height:40px;width:200px;background:$CorAzulClaro;color:$CorBranco;cursor:pointer;}
@mixin transition{transition:2s;-webkit-transition:2s;-moz-transition:2s;-o-transition:2s;-ms-transition:2s;}
@mixin h1{text-align:center;font-weight:bold;}
@mixin rotate{transform:rotate(20deg);-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);-o-transform:rotate(20deg);-ms-transform: rotate(20deg);}